<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SE_BetConfirm</key>
	<string>AddStack.WAV</string>
	<key>SE_BetTap</key>
	<string>Click.WAV</string>
	<key>SE_ChipTap</key>
	<string>click2.WAV</string>
	<key>SE_ButtonTap</key>
	<string>buttonHit.WAV</string>
	<key>SE_StartBet</key>
	<string>startbetting.WAV</string>
	<key>SE_CountDownLessThanTwo</key>
	<string>countdown2.WAV</string>
	<key>SE_CountDown</key>
	<string>CountDown.WAV</string>
	<key>SE_StopBet</key>
	<string>stopbetting.WAV</string>
	<key>SE_DragonWin</key>
	<string>dtf_d_win.ogg</string>
	<key>SE_TigerWin</key>
	<string>dtf_t_win.ogg</string>
	<key>SE_Tie</key>
	<string>Tie.WAV</string>
	<key>SE_DragonPoint1</key>
	<string>dtf_d_point1.ogg</string>
	<key>SE_DragonPoint2</key>
	<string>dtf_d_point2.ogg</string>
	<key>SE_DragonPoint3</key>
	<string>dtf_d_point3.ogg</string>
	<key>SE_DragonPoint4</key>
	<string>dtf_d_point4.ogg</string>
	<key>SE_DragonPoint5</key>
	<string>dtf_d_point5.ogg</string>
	<key>SE_DragonPoint6</key>
	<string>dtf_d_point6.ogg</string>
	<key>SE_DragonPoint7</key>
	<string>dtf_d_point7.ogg</string>
	<key>SE_DragonPoint8</key>
	<string>dtf_d_point8.ogg</string>
	<key>SE_DragonPoint9</key>
	<string>dtf_d_point9.ogg</string>
	<key>SE_DragonPoint10</key>
	<string>dtf_d_point10.ogg</string>
	<key>SE_DragonPoin11</key>
	<string>dtf_d_point11.ogg</string>
	<key>SE_DragonPoint12</key>
	<string>dtf_d_point12.ogg</string>
	<key>SE_DragonPoint13</key>
	<string>dtf_d_point13.ogg</string>
	<key>SE_TigerPoint1</key>
	<string>dtf_t_point1.ogg</string>
	<key>SE_TigerPoint2</key>
	<string>dtf_t_point2.ogg</string>
	<key>SE_TigerPoint3</key>
	<string>dtf_t_point3.ogg</string>
	<key>SE_TigerPoint4</key>
	<string>dtf_t_point4.ogg</string>
	<key>SE_TigerPoint5</key>
	<string>dtf_t_point5.ogg</string>
	<key>SE_TigerPoint6</key>
	<string>dtf_t_point6.ogg</string>
	<key>SE_TigerPoint7</key>
	<string>dtf_t_point7.ogg</string>
	<key>SE_TigerPoint8</key>
	<string>dtf_t_point8.ogg</string>
	<key>SE_TigerPoint9</key>
	<string>dtf_t_point9.ogg</string>
	<key>SE_TigerPoint10</key>
	<string>dtf_t_point10.ogg</string>
	<key>SE_TigerPoint11</key>
	<string>dtf_t_point11.ogg</string>
	<key>SE_TigerPoint12</key>
	<string>dtf_t_point12.ogg</string>
	<key>SE_TigerPoint13</key>
	<string>dtf_t_point13.ogg</string>
</dict>
</plist>
