<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Load_img_01.png</string>
	<string>Load_img_02.png</string>
	<string>Load_img_03.png</string>
	<string>Load_img_04.png</string>
	<string>Load_img_05.png</string>
	<string>Load_img_06.png</string>
	<string>Load_img_07.png</string>
	<string>Load_img_08.png</string>
	<string>Load_img_09.png</string>
	<string>Load_img_10.png</string>
	<string>Load_img_11.png</string>
	<string>Load_img_12.png</string>
	<string>Load_img_13.png</string>
	<string>Load_img_14.png</string>
	<string>Load_img_15.png</string>
	<string>Load_img_16.png</string>
	<string>Load_img_17.png</string>
	<string>Load_img_18.png</string>
	<string>Load_img_19.png</string>
	<string>Load_img_20.png</string>
</array>
</plist>
